:root {
    font-family: 'Lato', serif;
    height: 100%;
    width: 100%;
    background-color: #1a1a1b;
    color: #cdcde1;
    --background-color: #1a1a1b;
    --text-color: #cdcde1;
    --accent-purple: #824C71;
    --accent-green: rgba(97, 146, 93, 1);
    --accent-red: rgba(191, 63, 63, 1);
    transition: all 0.5s ease-in;
    --abs: url('./images/abs.jpg');
    --brown: url('./images/brown.jpg');
    --thingy1: url('./images/thingy1.jpg');
}
.work-link{
    border-bottom: 0.8px solid var(--accent-red);
}
* {
    box-sizing: border-box;
}

.glow-text{
    text-shadow: 0 0 5px #000, 0 0 10px #000, 0 0 15px #000, 0 0 20px #000, 0 0 25px #000, 0 0 30px #000, 0 0 35px #000;
}

#root {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;

}


a {
    text-decoration: none;
    color: #cdcde1;
}
li {
    list-style: none;
}

body::-webkit-scrollbar {
    width: 0.5em;
    border-radius: 5px;
}
body::-webkit-scrollbar-track{
    background-color: #1a1a1b;
    border-radius: 5px;
}
body::-webkit-scrollbar-thumb {
    background-color: #cdcde1;
    border-radius: 5px;
}
body::-webkit-scrollbar-thumb:hover{
    background-color: #824C71;
}

body {
    margin: 0;
    padding: 0;
    height: fit-content;
    width: 100%;
    font-family: 'JetBrains Mono', monospace;
    color: var(--text-color);
    background-color: #1a1a1b;
    
}


@keyframes slide {
    0%{
        transform: translateX(-100%);
    }
    100%{
        transform: translateX(0%);
    }
}
@keyframes fadeIn {
    0%{
        opacity: 0;
    }
    50% {
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
@keyframes float {
    0% { transform: translateY(0%); }
    50% { transform: translateY(5%); }
    100% { transform: translateY(-0%); }
    
}
    
/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
    :root{
        font-size: 0.5em;
        --nav-height: 5em;
        --smallIcon: 25px;

    }
    html{
        scroll-padding-top: var(--nav-height);
    }
    .navbar {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        width: 100%;
        height: var(--nav-height);
        background-color: black;
        z-index: 9999;
        border-bottom: var(--accent-red) inset 0.5px;
        box-shadow: 0 0 3px rgba(191, 63, 63, 1), 0 0 5px rgba(191, 63, 63, 0.7), 0 0 10px rgba(97, 146, 93, 0.4);
        color: var(--text-color);
    }
    .navbar-container {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        height: 100%;
        width: 100%;
    }
    #logo {
        width: 40px;
        height: 40px;
    }
    .navbar-links {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        height: 100%;
        width: 100%;
        font-family: 'Major Mono Display';
        font-size: 1rem;
    }
    #about{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        height: 100vh;
        width: 100%;
        margin-top: var(--nav-height);
        /* margin-bottom: 10px; */
        padding: 0px;
        background: var(--thingy1) no-repeat center center fixed; 
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }
    .navlinks{
        font-weight: bold;
        text-shadow: 0 0 3px #cdcde1, 0 0 4px white, 0 0 5px var(--accent-green);
    }
    #aboutMe{
        width: 85%;
        animation: fadeIn 5s ease-in;
    }
    .icon-link {
        width: var(--smallIcon);
        height: var(--smallIcon);
    }
    /* .icon-link:hover {
        animation: float 2s ease-in-out infinite;
    } */
    #about-contact{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 100%;
        animation: fadeIn 5s ease-in;
    }
    #about-socials{
        width: 80%;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }
    /*make them glow slightly white*/
    #intro, #aspire, #work-head, #resume-head {
        color: #cdcde1;
        text-shadow: 0 0 5px #cdcde1, 0 1px 0px white;
    }
    #intro {
        text-align: center;
        width: 100%;
        transition: all ease-in;
        animation: slide 1.5s ease-in;
    }
    #aspire {
        text-align: center;
        width: 100%;
        transition: all ease-in;
        animation: slide 1.8s ease-in;
    }

    #work{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100vh;
        width: 100%;
        background: var(--abs) no-repeat center center fixed; 
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }
    #work-head{
        width: 100%;
        text-align: center;
    }
    .workWrapper{
        width: 100%;
    }
    
    .workImg{
        width: 300px;
        height: 131.3px;
        border-radius: 10px;
    }
    .work-slider{
        text-align: center;
        width: 100%;
        overflow: hidden;
    }
    .work-slides{
        width: 100%;
        display: flex;
        overflow-x: auto;
        scroll-snap-type: x mandatory;
        scroll-behavior: smooth;
        -webkit-overflow-scrolling: touch;
        align-items: center;
    
    }
    .work-slides::-webkit-scrollbar {
      width: 10px;
      height: 10px;
    }
    .work-slides::-webkit-scrollbar-thumb {
      background: white;
      border-radius: 10px;
    }
    .work-slides::-webkit-scrollbar-track {
      background: transparent;
    }
    /* .work-slide{
        scroll-padding-top: 100px !important;
    } */
    .work-slides > .work-slide{
        scroll-snap-align: center;
        width: 100%;
        height: 100%;
        border-radius: 5%;
        margin: 0;
        transform-origin: center center;
        transition: transform 0.5s;
        scale: 1;
        position: relative;
        flex-shrink: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .work-slider > .work-slide-link {
        display: none;
        text-decoration: none;
        color: black;
        background: white;
        border-radius: 50%;
        position: relative;
        width: 2rem;
        height: 2rem;
        margin: 0 0 0.5rem 0;
        align-items: center;
        justify-content: center;
    
    }
    .work-slider > .work-slide-link:active{
        top: 1px;
    }
    .work-slider > .work-slide-link:focus{
        background: var(--accent-green);
    }
    
    #work-footer{
        width: 100%;
        text-align: center;
    }
    
    #resume {
        display: flex;
        flex-direction: column;
        border-top: 1px solid black;
        background: var(--brown) no-repeat center center fixed; 
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        align-items: center;
        justify-content: center;
    }
    
    #resume-side{
        display: flex;
        flex-direction: column;
        height: 100%;
        width: 90%;
        padding: 0px 10px;
        border-right: 1px solid black;
        /* background-color: #0b090a; */
        align-items: center;
        justify-content: center;
    }
    #resume-side-header, #resume-education, #personal-info, #resume-skills{
        width: 100%;
        text-align: left;
        border-bottom: var(--accent-red) inset 0.5px;
    }
    #social-media{
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        width: 100%;
    }
    #resume-main{
        display: flex;
        flex-direction: column;
        height: 100%;
        width: 90%;
        /* padding: 0px 10px; */
        color: white;
        align-items: center;
        justify-content: center;
    }
    .resume-main-header{
        width: 100%;
        text-align: center;
        border-bottom: var(--accent-red) inset 0.5px;
    }
    
    #footer{
        background-color: black;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        width: 100%;
        height: 100px;
        border-top: var(--accent-green) inset 1px;
    }
}

/* Smaller tablets */
@media only screen and (min-device-width : 481px) and (max-device-width : 767px){
    :root{
        font-size: 0.7em;
        --nav-height: 6em;
        --smallIcon: 20px;

    }
    html{
        scroll-padding-top: var(--nav-height);
    }
    .navbar {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        width: 100%;
        height: var(--nav-height);
        background-color: black;
        z-index: 9999;
        border-bottom: var(--accent-red) inset 0.5px;
        box-shadow: 0 0 3px rgba(191, 63, 63, 1), 0 0 5px rgba(191, 63, 63, 0.7), 0 0 10px rgba(97, 146, 93, 0.4);
        color: var(--text-color);
    }
    .navbar-container {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        height: 100%;
        width: 100%;
    }
    #logo {
        width: 40px;
        height: 40px;
    }
    .navbar-links {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        height: 100%;
        width: 100%;
        font-family: 'Major Mono Display';
        font-size: 1.3rem;
    }
    #about{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        height: 100vh;
        width: 100%;
        margin-top: var(--nav-height);
        /* margin-bottom: 10px; */
        padding: 0px;
        background: var(--thingy1) no-repeat center center fixed; 
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }
    .navlinks{
        font-weight: bold;
        text-shadow: 0 0 3px #cdcde1, 0 0 4px white, 0 0 5px var(--accent-green);
    }
    #aboutMe{
        width: 85%;
        animation: fadeIn 5s ease-in;
    }
    .icon-link {
        width: var(--smallIcon);
        height: var(--smallIcon);
    }
    /* .icon-link:hover {
        animation: float 2s ease-in-out infinite;
    } */
    #about-contact{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 100%;
        animation: fadeIn 5s ease-in;
    }
    #about-socials{
        width: 80%;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }
    /*make them glow slightly white*/
    #intro, #aspire, #work-head, #resume-head {
        color: #cdcde1;
        text-shadow: 0 0 5px #cdcde1, 0 1px 0px white;
    }
    #intro {
        text-align: center;
        width: 100%;
        transition: all ease-in;
        animation: slide 1.5s ease-in;
    }
    #aspire {
        text-align: center;
        width: 100%;
        transition: all ease-in;
        animation: slide 1.8s ease-in;
    }

    #work{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100vh;
        width: 100%;
        background: var(--abs) no-repeat center center fixed; 
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }
    #work-head{
        width: 100%;
        text-align: center;
    }
    .workWrapper{
        width: 100%;
    }
    
    .workImg{
        width: 480px;
        height: 210.08px;
        border-radius: 10px;
    }
    .work-slider{
        text-align: center;
        width: 100%;
        overflow: hidden;
    }
    .work-slides{
        width: 100%;
        display: flex;
        overflow-x: auto;
        scroll-snap-type: x mandatory;
        scroll-behavior: smooth;
        -webkit-overflow-scrolling: touch;
        align-items: center;
    
    }
    .work-slides::-webkit-scrollbar {
      width: 10px;
      height: 10px;
    }
    .work-slides::-webkit-scrollbar-thumb {
      background: white;
      border-radius: 10px;
    }
    .work-slides::-webkit-scrollbar-track {
      background: transparent;
    }
    /* .work-slide{
        scroll-padding-top: 100px !important;
    } */
    .work-slides > .work-slide{
        scroll-snap-align: center;
        width: 100%;
        height: 100%;
        border-radius: 10px;
        margin: 0;
        transform-origin: center center;
        transition: transform 0.5s;
        scale: 1;
        position: relative;
        flex-shrink: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .work-slider > .work-slide-link {
        display: none;
        text-decoration: none;
        color: black;
        background: white;
        border-radius: 50%;
        position: relative;
        width: 2rem;
        height: 2rem;
        margin: 0 0 0.5rem 0;
        align-items: center;
        justify-content: center;
    
    }
    .work-slider > .work-slide-link:active{
        top: 1px;
    }
    .work-slider > .work-slide-link:focus{
        background: var(--accent-green);
    }
    
    #work-footer{
        width: 100%;
        text-align: center;
    }
    
    #resume {
        display: flex;
        flex-direction: column;
        border-top: 1px solid black;
        background: var(--brown) no-repeat center center fixed; 
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        align-items: center;
        justify-content: center;
    }
    
    #resume-side{
        display: flex;
        flex-direction: column;
        height: 100%;
        width: 90%;
        padding: 0px 10px;
        border-right: 1px solid black;
        /* background-color: #0b090a; */
        align-items: center;
        justify-content: center;
    }
    #resume-side-header, #resume-education, #personal-info, #resume-skills{
        width: 100%;
        text-align: left;
        border-bottom: var(--accent-red) inset 0.5px;
    }
    #social-media{
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        width: 100%;
    }
    #resume-main{
        display: flex;
        flex-direction: column;
        height: 100%;
        width: 90%;
        /* padding: 0px 10px; */
        color: white;
        align-items: center;
        justify-content: center;
    }
    .resume-main-header{
        width: 100%;
        text-align: center;
        border-bottom: var(--accent-red) inset 0.5px;
    }
    
    #footer{
        background-color: black;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        width: 100%;
        height: 100px;
        border-top: var(--accent-green) inset 1px;
    }
}

/* iPads (portrait and landscape) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
    :root{
        font-size: 0.8em;
        --nav-height: 6em;
        --smallIcon: 40px;

    }
    html{
        scroll-padding-top: var(--nav-height);
    }
    .navbar {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        width: 100%;
        height: var(--nav-height);
        background-color: black;
        z-index: 9999;
        border-bottom: var(--accent-red) inset 0.5px;
        box-shadow: 0 0 3px rgba(191, 63, 63, 1), 0 0 5px rgba(191, 63, 63, 0.7), 0 0 10px rgba(97, 146, 93, 0.4);
        color: var(--text-color);
    }
    .navbar-container {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        height: 100%;
        width: 100%;
    }
    #logo {
        width: 60px;
        height: 60px;
    }
    .navbar-links {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        height: 100%;
        width: 100%;
        font-family: 'Major Mono Display';
        font-size: 1.3rem;
    }
    #about{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        height: 100vh;
        width: 100%;
        margin-top: var(--nav-height);
        /* margin-bottom: 10px; */
        padding: 0px;
        background: var(--thingy1) no-repeat center center fixed; 
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }
    .navlinks{
        font-weight: bold;
        text-shadow: 0 0 3px #cdcde1, 0 0 4px white, 0 0 5px var(--accent-green);
    }
    #aboutMe{
        width: 85%;
        animation: fadeIn 5s ease-in;
    }
    .icon-link {
        width: var(--smallIcon);
        height: var(--smallIcon);
    }
    /* .icon-link:hover {
        animation: float 2s ease-in-out infinite;
    } */
    #about-contact{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 100%;
        animation: fadeIn 5s ease-in;
    }
    #about-socials{
        width: 80%;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }
    /*make them glow slightly white*/
    #intro, #aspire, #work-head, #resume-head {
        color: #cdcde1;
        text-shadow: 0 0 5px #cdcde1, 0 1px 0px white;
    }
    #intro {
        text-align: center;
        width: 100%;
        transition: all ease-in;
        animation: slide 1.5s ease-in;
    }
    #aspire {
        text-align: center;
        width: 100%;
        transition: all ease-in;
        animation: slide 1.8s ease-in;
    }

    #work{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100vh;
        width: 100%;
        background: var(--abs) no-repeat center center fixed; 
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }
    #work-head{
        width: 100%;
        text-align: center;
    }
    .workWrapper{
        width: 100%;
    }
    
    .workImg{
        width: 480px;
        height: 210.08px;
        border-radius: 10px;
    }
    .work-slider{
        text-align: center;
        width: 100%;
        overflow: hidden;
    }
    .work-slides{
        width: 100%;
        display: flex;
        overflow-x: auto;
        scroll-snap-type: x mandatory;
        scroll-behavior: smooth;
        -webkit-overflow-scrolling: touch;
        align-items: center;
    
    }
    .work-slides::-webkit-scrollbar {
      width: 10px;
      height: 10px;
    }
    .work-slides::-webkit-scrollbar-thumb {
      background: white;
      border-radius: 10px;
    }
    .work-slides::-webkit-scrollbar-track {
      background: transparent;
    }
    /* .work-slide{
        scroll-padding-top: 100px !important;
    } */
    .work-slides > .work-slide{
        scroll-snap-align: center;
        width: 100%;
        height: 100%;
        border-radius: 10px;
        margin: 0;
        transform-origin: center center;
        transition: transform 0.5s;
        scale: 1;
        position: relative;
        flex-shrink: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .work-slider > .work-slide-link {
        display: none;
        text-decoration: none;
        color: black;
        background: white;
        border-radius: 50%;
        position: relative;
        width: 2rem;
        height: 2rem;
        margin: 0 0 0.5rem 0;
        align-items: center;
        justify-content: center;
    
    }
    .work-slider > .work-slide-link:active{
        top: 1px;
    }
    .work-slider > .work-slide-link:focus{
        background: var(--accent-green);
    }
    
    #work-footer{
        width: 100%;
        text-align: center;
    }
    
    #resume {
        display: grid;
        grid-template-columns: 25% 75%;
        border-top: 1px solid black;
        background: var(--brown) no-repeat center center fixed; 
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        align-items: center;
        justify-content: center;
    }
    
    #resume-side{
        display: flex;
        flex-direction: column;
        height: 100%;
        width: 90%;
        padding: 0px 10px;
        border-right: 1px solid black;
        /* background-color: #0b090a; */
        align-items: center;
        justify-content: center;
    }
    #resume-side-header, #resume-education, #personal-info, #resume-skills{
        width: 100%;
        text-align: left;
        border-bottom: var(--accent-red) inset 0.5px;
    }
    #social-media{
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        width: 100%;
    }
    #resume-main{
        display: flex;
        flex-direction: column;
        height: 100%;
        width: 90%;
        /* padding: 0px 10px; */
        color: white;
        align-items: center;
        justify-content: center;
    }
    .resume-main-header{
        width: 100%;
        text-align: center;
        border-bottom: var(--accent-red) inset 0.5px;
    }
    
    #footer{
        background-color: black;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        width: 100%;
        height: 100px;
        border-top: var(--accent-green) inset 1px;
    }
}


    /* Desktops and laptops ----------- */
@media only screen  and (min-width : 1224px) {
/* Styles */
    html{
    scroll-padding-top: 80px;
    }
    .navbar {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        width: 100%;
        height: 80px;
        background-color: black;
        
        z-index: 9999;
        border-bottom: var(--accent-red) inset 0.5px;
        box-shadow: 0 0 3px rgba(191, 63, 63, 1), 0 0 5px rgba(191, 63, 63, 0.7), 0 0 10px rgba(97, 146, 93, 0.4);
        color: var(--text-color);
    }
    .navbar-container {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        height: 100%;
        width: 100%;
    }
    #logo {
        width: 75px;
        height: 75px;
    }
    .navbar-links {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        height: 100%;
        width: 100%;
        font-family: 'Major Mono Display';
        font-size: 1.5rem;
    }
    #about{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        height: 650px;
        width: 100%;
        margin-top: 80px;
        /* margin-bottom: 10px; */
        padding: 0px;
        background: var(--thingy1) no-repeat center center fixed; 
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }
    .navlinks{
        text-shadow: 0 0 3px #cdcde1, 0 0 4px white, 0 0 5px var(--accent-green);
    }
    #aboutMe{
        width: 85%;
        animation: fadeIn 5s ease-in;
    }
    .icon-link {
        width: 40px;
        height: 40px;
    }
    .icon-link:hover {
        animation: float 2s ease-in-out infinite;
    }
    #about-contact{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 100%;
        animation: fadeIn 5s ease-in;
    }
    #about-socials{
        margin-top: 5px;
        width: 80%;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }
    /*make them glow slightly white*/
    #intro, #aspire, #work-head, #resume-head {
        color: #cdcde1;
        text-shadow: 0 0 5px #cdcde1, 0 1px 0px white;
    }
    #intro {
        text-align: center;
        width: 100%;
        transition: all ease-in;
        animation: slide 1.5s ease-in;
    }
    #aspire {
        text-align: center;
        width: 100%;
        transition: all ease-in;
        animation: slide 1.8s ease-in;
    }

    #work{
        height: 100vh;
        width: 100%;
        background: var(--abs) no-repeat center center fixed; 
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }
    #work-head{
        width: 100%;
        text-align: center;
    }
    .workWrapper{
        width: 100%;
    }
    
    .workImg{
        width: 660px;
        height: 288.87px;
        border-radius: 10px;
    }
    .work-slider{
        text-align: center;
        width: 100%;
        overflow: hidden;
    }
    .work-slides{
        width: 100%;
        display: flex;
        overflow-x: auto;
        scroll-snap-type: x mandatory;
        scroll-behavior: smooth;
        -webkit-overflow-scrolling: touch;
        align-items: center;
    
    }
    .work-slides::-webkit-scrollbar {
        width: 10px;
        height: 10px;
    }
    .work-slides::-webkit-scrollbar-thumb {
        background: white;
        border-radius: 10px;
    }
    .work-slides::-webkit-scrollbar-track {
        background: transparent;
    }
    .work-slide{
        scroll-padding-top: 100px !important;
    }
    .work-slides > .work-slide{
        scroll-snap-align: center;
        width: 100%;
        height: 100%;
        border-radius: 5%;
        margin: 0;
        transform-origin: center center;
        transition: transform 0.5s;
        scale: 1;
        position: relative;
        flex-shrink: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .work-slider > .work-slide-link {
        display: inline-flex;
        text-decoration: none;
        color: black;
        background: white;
        border-radius: 50%;
        position: relative;
        width: 2rem;
        height: 2rem;
        margin: 0 0 0.5rem 0;
        align-items: center;
        justify-content: center;
    
    }
    .work-slider > .work-slide-link:active{
        top: 1px;
    }
    .work-slider > .work-slide-link:focus{
        background: var(--accent-green);
    }

    #work-footer{
        width: 100%;
        text-align: center;
    }
    
    #resume {
        display: grid;
        grid-template-columns: 25% 75%;
        border-top: 1px solid black;
        background: var(--brown) no-repeat center center fixed; 
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }
    
    #resume-side{
        display: flex;
        flex-direction: column;
        height: 100%;
        width: 80%;
        padding: 0px 10px;
        border-right: 1px solid black;
        background-color: #0b090a;
    }
    #resume-side-header, #resume-education, #personal-info{
        width: 100%;
        text-align: left;
        border-bottom: var(--accent-red) inset 0.5px;
    }
    #social-media{
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        width: 100%;
    }
    #resume-main{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100%;
        width: 80%;
        padding: 0px 10px;
        color: white;
    }
    #resume-interests{
        width: 100%;
        text-align: left;
    }
    .resume-main-header{
        width: 100%;
        text-align: left;
        border-bottom: var(--accent-red) inset 0.5px;
    }
    
    #footer{
        background-color: black;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        width: 100%;
        height: 100px;
        border-top: var(--accent-green) inset 1.5px;
    }
}
    
/* Large screens ----------- */
@media only screen  and (min-width : 1824px) {
    html{
        scroll-padding-top: 80px;
        }
        .navbar {
            position: fixed;
            top: 0;
            left: 0;
            right: 0;
            width: 100%;
            height: 80px;
            background-color: black;
            
            z-index: 9999;
            border-bottom: var(--accent-red) inset 0.5px;
            box-shadow: 0 0 3px rgba(191, 63, 63, 1), 0 0 5px rgba(191, 63, 63, 0.7), 0 0 10px rgba(97, 146, 93, 0.4);
            color: var(--text-color);
        }
        .navbar-container {
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            height: 100%;
            width: 100%;
        }
        #logo {
            width: 75px;
            height: 75px;
        }
        .navbar-links {
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            height: 100%;
            width: 100%;
            font-family: 'Major Mono Display';
            font-size: 1.5rem;
        }
        #about{
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            height: 650px;
            width: 100%;
            margin-top: 80px;
            /* margin-bottom: 10px; */
            padding: 0px;
            background: var(--thingy1) no-repeat center center fixed; 
            -webkit-background-size: cover;
            -moz-background-size: cover;
            -o-background-size: cover;
            background-size: cover;
        }
        .navlinks{
            text-shadow: 0 0 3px #cdcde1, 0 0 4px white, 0 0 5px var(--accent-green);
        }
        #aboutMe{
            width: 85%;
            animation: fadeIn 5s ease-in;
        }
        .icon-link {
            width: 40px;
            height: 40px;
        }
        .icon-link:hover {
            animation: float 2s ease-in-out infinite;
        }
        #about-contact{
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            width: 100%;
            animation: fadeIn 5s ease-in;
        }
        #about-socials{
            width: 80%;
            display: flex;
            justify-content: space-evenly;
            align-items: center;
        }
        /*make them glow slightly white*/
        #intro, #aspire, #work-head, #resume-head {
            color: #cdcde1;
            text-shadow: 0 0 5px #cdcde1, 0 1px 0px white;
        }
        #intro {
            text-align: center;
            width: 100%;
            transition: all ease-in;
            animation: slide 1.5s ease-in;
        }
        #aspire {
            text-align: center;
            width: 100%;
            transition: all ease-in;
            animation: slide 1.8s ease-in;
        }
    
        #work{
            height: 100vh;
            width: 100%;
            background: var(--abs) no-repeat center center fixed; 
            -webkit-background-size: cover;
            -moz-background-size: cover;
            -o-background-size: cover;
            background-size: cover;
        }
        #work-head{
            width: 100%;
            text-align: center;
        }
        .workWrapper{
            width: 100%;
        }
        
        .workImg{
            width: 1366px;
            height: 600px;
            border-radius: 10px;
        }
        .work-slider{
            text-align: center;
            width: 100%;
            overflow: hidden;
        }
        .work-slides{
            width: 100%;
            display: flex;
            overflow-x: auto;
            scroll-snap-type: x mandatory;
            scroll-behavior: smooth;
            -webkit-overflow-scrolling: touch;
            align-items: center;
        
        }
        .work-slides::-webkit-scrollbar {
            width: 10px;
            height: 10px;
        }
        .work-slides::-webkit-scrollbar-thumb {
            background: white;
            border-radius: 10px;
        }
        .work-slides::-webkit-scrollbar-track {
            background: transparent;
        }
        /* .work-slide{
            scroll-padding-top: 100px !important;
        } */
        .work-slides > .work-slide{
            scroll-snap-align: start;
            width: 100%;
            height: 100%;
            border-radius: 5%;
            margin: 0;
            transform-origin: center center;
            transition: transform 0.5s;
            scale: 1;
            position: relative;
            flex-shrink: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
        }
        .work-slider > .work-slide-link {
            display: inline-flex;
            text-decoration: none;
            color: black;
            background: white;
            border-radius: 50%;
            position: relative;
            width: 2rem;
            height: 2rem;
            margin: 0 0 0.5rem 0;
            align-items: center;
            justify-content: center;
        
        }
        .work-slider > .work-slide-link:active{
            top: 1px;
        }
        .work-slider > .work-slide-link:focus{
            background: var(--accent-green);
        }
    
        #work-footer{
            width: 100%;
            text-align: center;
        }
        
        #resume {
            display: grid;
            grid-template-columns: 25% 75%;
            border-top: 1px solid black;
            background: var(--brown) no-repeat center center fixed; 
            -webkit-background-size: cover;
            -moz-background-size: cover;
            -o-background-size: cover;
            background-size: cover;
        }
        
        #resume-side{
            display: flex;
            flex-direction: column;
            height: 100%;
            width: 80%;
            padding: 0px 10px;
            border-right: 1px solid black;
            background-color: #0b090a;
        }
        #resume-side-header, #resume-education, #personal-info{
            width: 100%;
            text-align: left;
            border-bottom: var(--accent-red) inset 0.5px;
        }
        #social-media{
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            width: 100%;
        }
        #resume-main{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            height: 100%;
            width: 80%;
            padding: 0px 10px;
            color: white;
        }
        .resume-main-header{
            width: 100%;
            text-align: left;
            border-bottom: var(--accent-red) inset 0.5px;
        }
        
        #footer{
            background-color: black;
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            align-items: center;
            width: 100%;
            height: 100px;
            border-top: var(--accent-green) inset 1.5px;
        }
}

    